/* Hero section */

#landing-page-intro {
  background-image: url("https://images.unsplash.com/photo-1492250817888-f4ea0ed5d3f0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1489&q=80");
  height: 500px;
  width: 100%;
  background-size: cover;
  text-align: center;
  padding: 10%;
}

.landing-header {
  font-size: 30px;
  color: white;
}

.landing-header-2 {
  font-size: 30px;
  color: white;
}

/* About section */

.about-section {
  text-align: center;
  font-size: 24px;
  background-color: rgba(239, 118, 119, 0.91);
  padding: 10%;
}
/* Photo section */

.photo-section {
  background-color: #2d304e;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  padding: 10%;
  font-family: "Roboto", helvetica, sans-serif;
}

.text-block {
  width: 100%;
  /* padding: 20%; */
  display: inline-block;
  font-size: 18px;
  height: 320px;
  border: 2px solid black;
  background-color: white;
  color: #2d304e;
  margin-bottom: 10px;
}

#landing-img-1 {
  background-image: url("https://images.unsplash.com/photo-1534961880437-ce5ae2033053?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
  
}
#landing-img-2 {
  background-image: url("https://images.unsplash.com/photo-1531938716357-224c16b5ace3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
}
#landing-img-3 {
  background-image: url("https://images.unsplash.com/photo-1551533257-bbd74dff1f8a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
}

.why-section {
  text-align: center;
  font-size: 24px;
  background-color: rgba(239, 118, 119, 0.91);
  padding: 10%;
}

.call-to-action {
  background-color: #2d304e;
  text-align: center;
  padding: 10%;
  color: white;
  font-size: 18px;
}

@media screen and (min-width: 767px) {
  .text-block {
    float: left;
    width: 33.3%;
  }
}
