#login-page {
  background-color: #2f3250;
  font-size: 25px;
  min-height: calc(100% - 80px);
}

.login-form {
  padding: 85px;
  color: white;
  
}

@media screen and (min-width: 767px) {
  .login-form {
    margin-right: 20%;
    margin-left: 20%;
  }
}