/* #signup-page {
    background-color: #2F3250;
    font-family: "Roboto", helvetica, sans-serif;
    margin: 0;
    font-size: 18px;
    height: 100%;
    font-family: "Roboto";
    width: 100%;
    
  }
  
  
  .signup-form {
    width: 60%;
    padding: 10%;
    margin: 0 auto;
   
  }
  
  #first-name {
      color: white;
  }

#last-name {
    color: white;
}

#username {
    color: white;
}

#password {
      color: white;
  }

#retype-password {
    color: white;
}
  .signup-form legend {
    width: 100%;
    line-height: 38px;
    font-size: 35px;
    font-weight: 300;
    color: white;
    text-align: center;
    letter-spacing: 0;
    margin: 0 auto 45px;
  }

  

  
  @media screen and  (min-width: 1024px) {
   

    #signup-page {
        padding: 0 0 350px;
    }
} */
