.dashboard-page {
    background-color: #2F3250;
    font-size: 25px;
    padding-bottom: 150px;
    min-height: 550px;
}

#details {
    font-size: 18px;
    border: 2px solid #e7e7e7;
    border-radius: 3px;
    background: #fcfcfc;
    /*margin: 10px auto 20px;*/
    margin: 10%;  
}


.dashboard {
    height: 85vh;
}
