/* 
#list {
    color: white;
    margin-left: 10%;
    font-size: 45px;
}
*/
.create-form {
    padding: 85px;
    color: white;
  }
.create-page {
    background-color: #2F3250;
    font-size: 25px;
    min-height: calc(100% - 80px);
    color: white;
}
/*

  @media screen and  (min-width: 1024px) {
      #add {
          font-size: 25px;
          width: 15%;
          margin-left: 75%;
      }



  } */
