/* 
#list {
    color: white;
    margin-left: 10%;
    font-size: 45px;
}

#item {
    width: 70%;
    height: 50px;
}

#location {
    width: 70%;
    height: 50px;
}
.create-page {
    background-color: #2F3250;
    font-family: "Roboto", helvetica, sans-serif;
    padding-bottom: 450px;
    padding-top: 50px;
    margin: 0;
    font-size: 18px;
    height: 90%;
    font-family: "Roboto", helvetica, sans-serif;
   
   
}

#add {
    background-color: rgba(239, 118, 119, 0.91);
    width: 30%;
    height: 5%;
    font-size: 40px;
    margin-right: 60%;
    color: white;
    padding: 10px;
    margin-top: 10%;
}


  @media screen and  (min-width: 1024px) {
      #add {
          font-size: 25px;
          width: 15%;
          margin-left: 75%;
      }



  } */
